html {
    --meds-darkest-bg: #09020F;
    --meds-current-dark-bg: var(--meds-darkest-bg);
    --bs-tooltip-bg: var(--bs-dark);
    --meds-senenthia: #140E00;
    --meds-aquarfall: #010C03;
    --meds-velkarath: #0A0000;
    --meds-faeborg: #000616;
    --meds-voidlow: #111111;
    --meds-voidhigh: #000000;
}

body {
    padding-top: 56px;
    background-color: var(--bs-dark);
}

.ato-title {
    font-weight: 700;
    color: #EFE036;
    text-shadow: 0 0 2px #D59812, 0 0 2px #D59812, 0 0 2px #D59812, 0 0 2px #D59812;
}

.meds-bg-darkest {
    background-color: var(--meds-darkest-bg) !important;
}

.meds-text-darkest {
    color: var(--meds-darkest-bg) !important;
}

/*
    common: text-bg-secondary;
    uncommon: text-bg-success;
    rare: text-bg-primary;
    mythic: text-bg-warning;
    epic: meds-text-bg-epic;
*/
.meds-text-bg-mythic {
    background-color: rgb(100%, 70%, 0%);
    color: var(--bs-black);
}

.meds-text-bg-epic {
    background-color: rgb(80%, 0%, 100%); 
    color: var(--bs-light);
}

.meds-text-epic {
    color: rgb(80%, 0%, 100%) !important;
}

.meds-text-bg-senenthia {
    background-color: var(--meds-senenthia);
    color: var(--bs-light);
}
.meds-text-bg-aquarfall {
    background-color: var(--meds-aquarfall);
    color: var(--bs-light);
}
.meds-text-bg-velkarath {
    background-color: var(--meds-velkarath);
    color: var(--bs-light);
}
.meds-text-bg-faeborg {
    background-color: var(--meds-faeborg);
    color: var(--bs-light);
}
.meds-text-bg-voidlow {
    background-color: var(--meds-voidlow);
    color: var(--bs-light);
}
.meds-text-bg-voidhigh {
    background-color: var(--meds-voidhigh);
    color: var(--bs-light);
}

.accordion:not(.accordion-single) {
    --bs-accordion-btn-bg: var(--meds-darkest-bg);
    --bs-accordion-border-color: var(--meds-darkest-bg);
    --bs-accordion-active-bg: var(--meds-darkest-bg);
    --bs-accordion-color: inherit;
    --bs-accordion-bg: var(--bs-secondary);
    --bs-accordion-btn-color: var(--bs-light);
    --bs-accordion-active-color: var(--bs-light);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f9fa'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f9fa'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-body-padding-x: 0.75rem;
    --bs-accordion-body-padding-y: 0.75rem;
}

.accordion.accordion-single {
    --bs-accordion-color: inherit;
    --bs-accordion-bg: var(--bs-secondary);
    --bs-accordion-btn-color: var(--bs-light);
    --bs-accordion-btn-bg: var(--meds-current-dark-bg);
    --bs-accordion-border-color: var(--meds-current-dark-bg);
    --bs-accordion-active-color: var(--bs-light);
    --bs-accordion-active-bg: var(--meds-current-dark-bg);
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-icon-width: 0;
    --bs-accordion-btn-active-icon: none;
    --bs-accordion-body-padding-x: 0.75rem;
    --bs-accordion-body-padding-y: 0.75rem;
}

.accordion-item {
    border: none;
}

.accordion-body .row .col .input-group {
    --meds-current-dark-bg: var(--bs-accordion-btn-bg);
}

.input-group .input-group-text {
    border: none !important;
}

.input-group, .form-control, .form-select, .input-group-text {
    border-color: var(--meds-current-dark-bg);
}

/*.input-group .input-group-text:not(:first-child) {
    border-left: none !important;
}

.input-group .input-group-text:not(:last-child) {
    border-right: none !important;
}*/

.accordion:not(.accordion-single) > .accordion-item:not(:last-child) > .accordion-collapse  {
    border-bottom-style: none !important;
}

.accordion.accordion-single .accordion-item .accordion-collapse {
    border-top: none !important;
}

.meds-accordionbg-senenthia {
    --bs-accordion-btn-bg: var(--meds-senenthia) !important;
    --bs-accordion-border-color: var(--meds-senenthia) !important;
    --bs-accordion-active-bg: var(--meds-senenthia) !important;
    --meds-current-dark-bg: var(--meds-senenthia) !important;
}
.meds-accordionbg-aquarfall {
    --bs-accordion-btn-bg: var(--meds-aquarfall) !important;
    --bs-accordion-border-color: var(--meds-aquarfall) !important;
    --bs-accordion-active-bg: var(--meds-aquarfall) !important;
    --meds-current-dark-bg: var(--meds-aquarfall) !important;
}
.meds-accordionbg-velkarath {
    --bs-accordion-btn-bg: var(--meds-velkarath) !important;
    --bs-accordion-border-color: var(--meds-velkarath) !important;
    --bs-accordion-active-bg: var(--meds-velkarath) !important;
    --meds-current-dark-bg: var(--meds-velkarath) !important;
}
.meds-accordionbg-faeborg {
    --bs-accordion-btn-bg: var(--meds-faeborg) !important;
    --bs-accordion-border-color: var(--meds-faeborg) !important;
    --bs-accordion-active-bg: var(--meds-faeborg) !important;
    --meds-current-dark-bg: var(--meds-faeborg) !important;
}
.meds-accordionbg-voidlow {
    --bs-accordion-btn-bg: var(--meds-voidlow) !important;
    --bs-accordion-border-color: var(--meds-voidlow) !important;
    --bs-accordion-active-bg: var(--meds-voidlow) !important;
    --meds-current-dark-bg: var(--meds-voidlow) !important;
}
.meds-accordionbg-voidhigh {
    --bs-accordion-btn-bg: var(--meds-voidhigh) !important;
    --bs-accordion-border-color: var(--meds-voidhigh) !important;
    --bs-accordion-active-bg: var(--meds-voidhigh) !important;
    --meds-current-dark-bg: var(--meds-voidhigh) !important;
}

.accordion-button {
    /*border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease, height .35s ease, border-bottom-left-radius .35s ease, border-bottom-right-radius .35s ease !important;*/
}

.accordion-button.collapsed, .accordion-body, .accordion-collapse {
    /*border-bottom-left-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease, height .35s ease, border-bottom-left-radius .35s ease, border-bottom-right-radius .35s ease !important;*/
}

.form-floating.w-25 {
    min-width: 90px;
}

.accordion-body {
    
    /*margin-left: -3px;
    margin-right: -3px;*/
}

.accordion-collapse {
    background-color: var(--bs-dark);
    color: var(--bs-light);
    border-color: var(--bs-accordion-border-color);
    border-style: solid;
}

.mw-40px {
    min-width: 40px;
}

button.btn {
    border-color: var(--meds-darkest-bg) !important;
}