@charset "UTF-8";

/* COMMON UTILITIES */

body {
    background-color: var(--meds-darkest-bg);
}

.meds-bg-darkest {
    background-color: var(--meds-darkest-bg) !important;
}

.border-black {
    border-color: black !important;
}

.i {
    font-style: italic;
}

.u {
    text-decoration-line: underline;
}

.fw-3 {
    font-weight: 300 !important;
}

.fw-5 {
    font-weight: 500 !important;
}

.fw-6 {
    font-weight: 600 !important;
}

.fw-7 {
    font-weight: 700 !important;
}

.b-t-6 {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.b-t-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.b-tl-0 {
    border-top-left-radius: 0 !important;
}

.b-tr-0 {
    border-top-right-radius: 0 !important;
}

.b-b-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.b-r-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.b-l-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.b-bl-0 {
    border-bottom-left-radius: 0 !important;
}

.b-br-0 {
    border-bottom-right-radius: 0 !important;
}

.sw-300 {
    width: 300px !important;
}

.mw-400 {
    max-width: 400px;
}

.mw-500 {
    max-width: 500px;
}

.mw-750 {
    max-width: 750px;
}

.mw-1000 {
    max-width: 1000px;
}

.nw-150 {
    min-width: 150px !important;
}

.px-25 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.j {
    text-align: justify;
}

.h0 {
    font-size: calc(1.75rem + 1.5vw);
}

.meds-link {
    font-weight: 600;
    color: #0dcaf0 !important;
    text-decoration-line: underline;
    text-decoration-color: #0dcaf0;
}

.meds-link-black {
    font-weight: 600;
    color: #000 !important;
    text-decoration-line: underline;
    text-decoration-color: #000;
}

.input-group.mt--1:not([class^="input-group"]:first-child), .input-group.mt--1:not([class^="input-group"]:first-child) div, .input-group.mt--1:not([class^="input-group"]:first-child) input[type="text"], .input-group.mt--1:not([class^="input-group"]:first-child) button, .input-group.mt--1:not([class^="input-group"]:first-child) a {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.input-group.mt--1:not([class^="input-group"]:last-child), .input-group.mt--1:not([class^="input-group"]:last-child) div, .input-group.mt--1:not([class^="input-group"]:last-child) input[type="text"], .input-group.mt--1:not([class^="input-group"]:last-child) button, .input-group.mt--1:not([class^="input-group"]:last-child) a {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.mt--1 {
    margin-top: -1px;
}